@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap");

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 0) {

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) {

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.text-primary {
  color: #2876f2 !important;
}

.bg-primary {
  background-color: #2876f2 !important;
}

.bg-primary-light-2 {
  background-color: #5391f5 !important;
}

.bg-primary-light-4 {
  background-color: #7eadf7 !important;
}

.bg-primary-light-6 {
  background-color: #a9c8fa !important;
}

.bg-primary-light-8 {
  background-color: #d4e4fc !important;
}

.bg-primary-dark-2 {
  background-color: #205ec2 !important;
}

.bg-primary-dark-4 {
  background-color: #184791 !important;
}

.bg-primary-dark-6 {
  background-color: #102f61 !important;
}

.bg-primary-dark-8 {
  background-color: #081830 !important;
}

.text-secondary {
  color: #35a8b9 !important;
}

.bg-secondary {
  background-color: #35a8b9 !important;
}

.text-info {
  color: #98e04f !important;
}

.bg-info {
  background-color: #98e04f !important;
}

.text-error {
  color: #f23528 !important;
}

.bg-error {
  background-color: #f23528 !important;
}

.text-blue {
  color: #1919e6 !important;
}

.bg-blue {
  background-color: #1919e6 !important;
}

.text-red {
  color: #e61919 !important;
}

.bg-red {
  background-color: #e61919 !important;
}

.text-yellow {
  color: #e6e619 !important;
}

.bg-yellow {
  background-color: #e6e619 !important;
}

.text-green {
  color: #19e635 !important;
}

.bg-green {
  background-color: #19e635 !important;
}

.text-orange {
  color: #ffa600 !important;
}

.bg-orange {
  background-color: #ffa600 !important;
}

.text-purple {
  color: #9900ff !important;
}

.bg-purple {
  background-color: #9900ff !important;
}

.text-gray {
  color: #808080 !important;
}

.bg-gray {
  background-color: #808080 !important;
}

.text-white {
  color: white !important;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 0.5px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.75rem;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.525rem 1.5rem;
  border-radius: 8px;
  background-color: #e5e5e5;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.525rem 1.5rem;
  border-radius: 8px;
  background-color: #2876f2;
}
.btn-primary:hover {
  background-color: #5895f5;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.525rem 1.5rem;
  border-radius: 8px;
  background-color: #2876f2;
  color: #fbe1b8;
}
.btn-complement-primary:hover {
  color: #2876f2;
  background-color: #fbe1b8;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.525rem 1.5rem;
  border-radius: 8px;
  background-color: #35a8b9;
}
.btn-secondary:hover {
  background-color: #53bece;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.525rem 1.5rem;
  border-radius: 8px;
  background-color: #98e04f;
}
.btn-info:hover {
  background-color: #b1e87a;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.525rem 1.5rem;
  border-radius: 8px;
  background-color: #f23528;
}
.btn-error:hover {
  background-color: #f56258;
}

.btn-outline-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.525rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ffa600;
  color: #ffa600;
}
.btn-outline-orange:hover {
  background-color: #ffa600;
  color: white;
}

.btn-outline-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.525rem 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #9900ff;
  color: #9900ff;
}
.btn-outline-purple:hover {
  background-color: #9900ff;
  color: white;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.525rem 1.5rem;
  border-radius: 8px;
  background-color: #9900ff;
  color: #c2ff99;
}
.btn-complement-purple:hover {
  color: #9900ff;
  background-color: #c2ff99;
}

 .navbar-primary .container, .navbar-primary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

 .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
 .navbar-primary .site-title {
  font-size: 1.25rem;
}
.navbar-primary {
  background-color: #2876f2;
  color: white;
}

.badge-secondary {
  border-radius: 64px;
  padding: 0.15rem 0.75rem;
  font-size: 0.75rem;
  font-weight: normal;
  background-color: #35a8b9;
}

.ml-1 {
  margin-left: 0.75rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.br {
  border-radius: 16px;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.25rem;
}

.font-xl {
  font-size: 1.5rem;
}

.font-xxl {
  font-size: 1.75rem;
}