@use "sass:math";

@mixin badge{
  border-radius: $base-border-radius * 0.25;
  padding: math.div($base-padding, 5) $base-padding;
  font-size: .5em;
  font-weight: 700;
  color: white;
  box-shadow: $base-box-shadow
}

.badge{
  @include badge;
}
