
@mixin btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding*0.5 $base-padding*2;
  border-radius: $base-border-radius * 0.25;
  color: black;
  background-color: #e5e5e5;
  font-weight: $button-font-weight;
  transition: color .2s ease-in-out,background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

%raised-btn{
  outline: none;
  box-shadow: 0 0.45rem 0.45rem rgb(0 0 0 / 12.5%);
}

.btn{
  @include btn; 
  

  &:focus{
    @extend %raised-btn;
  }

  &:active{
    @extend %raised-btn;
  }

  &:disabled,[disabled]{
    opacity: $disabled-opacity;
    pointer-events: none;
  }
}

.btn-full{
  display: block;
  width: 100%;
}


@each $key, $val in map-merge($theme-colors, $palette-colors){

  .btn-#{$key}{

    background-color: $val;
    border: $base-border-thickness solid $val;

    &:hover{
      background-color: lighten($val, 10);
      border-color: lighten($val, 10)
    }
  }

  .btn-outline-#{$key}{

    background-color: white;
    border: $base-border-thickness solid $val;
    color: $val;

    &:hover{
      background-color: $val;
      color: white;
    }
  }

  @if ($enable-complement-button == true){
  .btn-complement-#{$key}{
    background-color: $val;

    color: light-comp($val);

    &:hover{
      color: $val;
      background-color: light-comp($val);
    }
  }
}
}