%nav-container{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;

  .nav-links{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    a {
      text-decoration: none;
    }
    > li.nav-link:not(:last-child){
      margin-right: $base-margin * 2;
    }
  }
}

.navbar{
  padding: $base-padding $base-padding *2;
  box-shadow: $base-box-shadow;

  .nav-label{
    font-size: $font-size-lg;
    margin-right: $base-margin;
    margin-bottom: 0
  }


  .container-full{
    @extend %nav-container;
  }
  @each $bp, $val in $breakpoints {
    .container#{breakpoint-infix($bp)}{
      @extend %nav-container;
    }
  }
}

@each $key, $val in $theme-colors {
  
  .navbar-#{$key}{
    background-color: $val;
    @if ($key != "warning" and $key != "light"){
     color: $white;
    } @else{
      color: $black;
    }
  }

}