.form-input{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #232129;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c4d0db;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: $base-border-radius * .375;
  transition: box-shadow .2s ease-in-out;


  
  &[disabled]{
    background-color: $gray-200;
    border-color: $gray-400;
  }

  &[type="file"]{
    overflow: hidden;

    &:not(:disabled):not([readonly]){
      cursor: pointer;
    }
  }

  
  &::-webkit-file-upload-button,
  &::file-selector-button{
    margin: -12px -21px;
    padding: 12px 21px;
    margin-inline-end: 21px;
    border-width: 0;
    border-radius: 2rem;
    /* background-color: darkgrey; */
    border-inline-end-width: 1px;
    border-color: inherit;
    pointer-events: none;
  }

  &:focus{
    outline: 0;
    box-shadow: 0 0 8px -3px rgba(0, 0, 0, .15) inset ;
  }


}

.input-label{
  margin-bottom: .5rem;
}

.form-select{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  line-height: 1.5;
  color: #232129;
  background-color: #fff;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 1 15 12'><path fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m2 5 6 6 6-6'/></svg>");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #c4d0db;
  border-radius: $base-border-radius * .375;
  appearance: none;

  &:focus{
    outline: 0;
  }

  &[multiple],
  &[size]{
    background-image: none;
  }

  &[disabled]{
    background-color: $gray-200;
    border-color: $gray-400;
  }
}


// form checks & radios
.form-check{
  display: block;
  min-height: 1.5rem;
  padding-left: 1.65em;
  margin-bottom: 0.15rem;

   .form-check-input{
    float: left;
    margin-left: -1.5rem;
   }  
}

.form-check-input{
  background-color: #fff;
  width: 1.25em;
  height: 1.25em;
  margin-top: 0.25em;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid $gray-500;
  appearance: none;
  

  &[type='checkbox']{
    border-radius: .25em;
  }

  &[type='radio']{
    border-radius: 50%;
  }

  &:active {
    filter: brightness(90%);
    
  }

  &:focus {
    //border-color: $form-check-input-focus-border;
    outline: 0;
  }

  &:checked {
    background-color: $primary;
    border-color: $primary;

    &[type="checkbox"] {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m4 11 4 5 10-12'/></svg>");
    }

    &[type="radio"] {
     background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='white'/></svg>") ; 
    }
  }

  &[disabled]{
    pointer-events: none;
    background-color: $gray-300;
  }
}

.form-check-label{
  cursor: pointer;
  color: $gray-800;
}