@use "sass:math";

$grid-columns: 12;

$grid-gaps: (
  "0": 0,
  "1": 10px,
  "2": 20px,
  "3": 30px,
  "4": 40px,
);

$container-max-widths: (
  "sm": 540px,
  "md": 720px,
  "lg": 960px,
  "xl": 1140px,
  "xxl": 1320px
);

$flex-values: flex-start, flex-end, space-between, space-around, space-evenly, center;

// -----base layout classes

// mixin for creating container
@mixin create-container($gutter: 1.5rem){

  width: 100%;
  padding-left: calc($gutter * 0.5);
  padding-right: calc($gutter * 0.5);
  margin-left: auto;
  margin-right: auto;
}

.container-full,
.container{
  @include create-container();
}

// create breakpoints containers
@each $bp, $max-width in $container-max-widths{
  .container-#{$bp}{
    @extend .container-full;
  }

  @include breakpoint(map-get($breakpoints, $bp)){

    %responsive-container-#{$bp}{
      max-width: $max-width;
    }

    $extend-bp: true;

    @each $bp-name, $width in $breakpoints{
      @if ($extend-bp){
        .container#{breakpoint-infix($bp-name)}{
          @extend %responsive-container-#{$bp};
        }


        @if ($bp-name == $bp){
          $extend-bp: false;
        }
      }
      
    }
  }
}


.row{
  display: flex;
  flex-flow: row wrap;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

// generate grid gaps
@each $k , $v in $grid-gaps{

  .gap-#{$k} > *{
    padding: $v;
  }

  .gap-#{$k}{
    margin-left: -$v;
    margin-right: -$v;
  }
}


// justify content classes
@each $val in $flex-values{
  .justify-#{$val}{
    justify-content: $val;
  }
}

// align items classes
@each $val in $flex-values{
  .align-#{$val}{
    align-items: $val;
  }
}

// col classes
@include xs{
  @for $i from 1 through $grid-columns{
    .col-#{$i}-xs{
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}

@include sm{
  @for $i from 1 through $grid-columns{
    .col-#{$i}-sm{
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}

@include md{
  @for $i from 1 through $grid-columns{
    .col-#{$i}-md{
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}

@include lg{
  @for $i from 1 through $grid-columns{
    .col-#{$i}-lg{
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}

@include xl{
  @for $i from 1 through $grid-columns{
    .col-#{$i}-xl{
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}

@include xxl{
  @for $i from 1 through $grid-columns{
    .col-#{$i}-xxl{
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}