// theme colors

$primary: #2876f2 !default;
$secondary: #35a8b9 !default;
$info: #98e04f !default;
$error: #f23528 !default;

// color palette
$colors: (
  "primary": $primary,
  "secondary":$secondary,
  "info": $info,
  "error": $error,
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray": #808080,
  "black": black,
  "white": white,
);


// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 16px !default;

// box-shadows
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1) !default;


// font-sizes
$base-font-size: 1rem;
$font-size-xxs : $base-font-size * 0.25 !default;
$font-size-xs : $base-font-size * 0.5 !default;
$font-size-sm : $base-font-size * 0.75 !default;
$font-size-lg : $base-font-size * 1.25 !default;
$font-size-xl : $base-font-size * 1.5 !default;
$font-size-xxl : $base-font-size * 1.75 !default;