@use "sass:math";

@mixin badge($bd-color: $info){
  border-radius: $base-border-radius * 4;
  padding: math.div($base-padding, 5) $base-padding;
  font-size: $font-size-xs;
  font-weight: normal;
  background-color: lighten($bd-color,25%);
  font-weight: bold;
  border: $base-border-thickness*2 solid $bd-color;
}

.badge{
  @include badge;
}

@each $key, $val in map-merge($theme-colors, $palette-colors){
  .badge-#{$key}{
    @include badge($val);
  }
}