
@mixin btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding*0.5 $base-padding*2;
  border-radius: $base-border-radius * 0.25;

}

.btn{
  @include btn;
  background-color: #e5e5e5;
}

@each $key, $val in $colors{

  .btn-#{$key}{

    @extend .btn;
    background-color: $val;
    border: $base-border-thickness solid $val;

    &:hover{
      background-color: lighten($val, 10);
      border-color: lighten($val, 10)
    }
  }

  .btn-outline-#{$key}{

    @extend .btn;
    background-color: white;
    border: $base-border-thickness solid $val;
    color: $val;

    &:hover{
      background-color: $val;
      color: white;
    }
  }

  .btn-complement-#{$key}{
    @extend .btn;
    background-color: $val;

    color: light-comp($val);

    &:hover{
      color: $val;
      background-color: light-comp($val);
    }
  }
}