// theme colors

$primary: #2876f2;
$secondary: #35a8b9;
$info: #98e04f;
$error: #f23528;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 16px;