.form-input{
  display: block;
  width: 100%;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: mix($black,$form-theme-color,$form-mixing-color-percent *0.2941);
  background-color: mix($white,$form-theme-color,$form-mixing-color-percent);//darken($gray-100,2%);
  border: none;
  border-radius: $form-border-radius;
  box-shadow: $base-box-shadow;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: box-shadow .2s ease-in-out;


  
  &[disabled]{
    background-color: $gray-500;
    box-shadow: none;
    opacity: $disabled-opacity + ($disabled-opacity * .25);
  }

  &[type="file"]{
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;
    padding: 0;

    &:focus{
      box-shadow: none;
    }
    &:not(:disabled):not([readonly]){
      cursor: pointer;
    }
  }

  
  &::-webkit-file-upload-button,
  &::file-selector-button{
    // margin: -12px -21px;
    // padding: 12px 21px;
    // margin-inline-end: 21px;
    // border-width: 0;
    // border-radius: 2rem;
    // /* background-color: darkgrey; */
    // border-inline-end-width: 1px;
    // border-color: inherit;
    pointer-events: none;
    background-color: $form-theme-color;
    box-shadow: $base-box-shadow;
    margin-right: $base-margin*2;
    border: none;
    border-radius: $form-border-radius;
    padding: $base-padding $base-padding*2;
    color: $white;

  }

  &:focus{
    outline: none;
    box-shadow: 0 0 8px -2px rgba($gray-800, .2);
  }


}

.input-label{
  margin-bottom: .5rem;
}

.form-select{
  display: block;
  width: 100%;
  padding: .75rem 1.5rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  line-height: 1.5;
  color: mix($black,$form-theme-color,$form-mixing-color-percent *0.2941);
  background-color: mix($white,$form-theme-color,$form-mixing-color-percent);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 1 15 12'><path fill='none' stroke='#{rgba($form-theme-color,.99)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m2 5 6 6 6-6'/></svg>");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  box-shadow: $base-box-shadow;
  cursor: pointer;
  border: none;
  border-radius: $form-border-radius;
  appearance: none;

  &:focus{
    outline: 0;
  }

  &[multiple],
  &[size]{
    background-image: none;
  }

  &[disabled]{
    background-color: $gray-500;
    box-shadow: none;
    opacity: $disabled-opacity + ($disabled-opacity * .25);
  }
}


// form checks & radios
.form-check{
  display: block;
  min-height: 1.5rem;
  padding-left: 1.65em;
  margin-bottom: 0.15rem;

   .form-check-input{
    float: left;
    margin-left: -1.5rem;
   }  
}

.form-check-input{
  background-color: mix($white,$form-theme-color,$form-mixing-color-percent);
  width: 1.25em;
  height: 1.25em;
  margin-top: 0.25em;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 0.15rem .25rem rgba(0,0,0,.2);
  appearance: none;
  

  &[type='checkbox']{
    border-radius: $form-border-radius * .5;
  }

  &[type='radio']{
    border-radius: 50%;
  }

  &:active {
    filter: brightness(90%);
    
  }

  &:focus {
    //border-color: $form-check-input-focus-border;
    outline: 0;
  }

  &:checked {
    background-color: $form-theme-color;

    &[type="checkbox"] {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m4 11 4 5 10-12'/></svg>");
    }

    &[type="radio"] {
     background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='white'/></svg>") ; 
    }
  }

  &[disabled]{
    pointer-events: none;
    background-color: $gray-300;
  }
}

.form-check-label{
  cursor: pointer;
  color: mix($black,$form-theme-color,$form-mixing-color-percent *0.2941);
}