
// Positions
$directions: top, bottom;

@each $dir in $directions{

  .fixed-#{$dir}{
    position: fixed;
    #{$dir}: 0;
    left: 0;
    right: 0;
    z-index: 550;
  }

  .sticky-#{$dir}{
    position: sticky;
    #{$dir}: 0;
    left: 0;
    right: 0;
    z-index: 520;
  }
}


// expanded link

.expanded-link::after{
  content: "";
  position: absolute;
  @include expanded-sides;
  z-index: 1;
}