
@mixin expanded-sides{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin form-disabled{
  background-color: $gray-500;
    box-shadow: none;
    opacity: $disabled-opacity + ($disabled-opacity * .25);
}

// mixin for creating container
@mixin create-container($gutter: 1.5rem){

  width: 100%;
  padding-left: calc($gutter * 0.5);
  padding-right: calc($gutter * 0.5);
  margin-left: auto;
  margin-right: auto;
}