
@mixin expanded-sides{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin form-disabled{
  background-color: $gray-500;
    box-shadow: none;
    opacity: $disabled-opacity + ($disabled-opacity * .25);
}