@use "sass:math";


$utilities: ( "padding": (
  "prefix": "p",
  "values": (
    "0": 0,
    "1": $base-padding,
    "2": $base-padding * 2,
    "3": $base-padding * 4,
    "4": $base-padding * 6,
    "5": $base-padding * 8
  ),
),
"padding-left": (
  "prefix": "pl",
  "values": (
    "0": 0,
    "1": $base-padding,
    "2": $base-padding * 2,
    "3": $base-padding * 4,
    "4": $base-padding * 6,
    "5": $base-padding * 8
  ),
),
"padding-right": (
  "prefix": "pr",
  "values": (
    "0": 0,
    "1": $base-padding,
    "2": $base-padding * 2,
    "3": $base-padding * 4,
    "4": $base-padding * 6,
    "5": $base-padding * 8
  ),
),
"padding-top": (
  "prefix": "pt",
  "values": (
    "0": 0,
    "1": $base-padding,
    "2": $base-padding * 2,
    "3": $base-padding * 4,
    "4": $base-padding * 6,
    "5": $base-padding * 8
  ),
),
"padding-bottom": (
  "prefix": "pb",
  "values": (
    "0": 0,
    "1": $base-padding,
    "2": $base-padding * 2,
    "3": $base-padding * 4,
    "4": $base-padding * 6,
    "5": $base-padding * 8
  ),
),
"margin": (
  "prefix": "m",
  "values": (
    "0": 0,
    "1": $base-margin,
    "2": $base-margin * 2,
    "3": $base-margin * 4,
    "4": $base-margin * 6,
    "5": $base-margin * 8,
    "auto": auto
  ),
),
"margin-left": (
  "prefix": "ml",
  "values": (
    "0": 0,
    "1": $base-margin,
    "2": $base-margin * 2,
    "3": $base-margin * 4,
    "4": $base-margin * 6,
    "5": $base-margin * 8,
    "auto": auto
  ),
),
"margin-right": (
  "prefix": "mr",
  "values": (
    "0": 0,
    "1": $base-margin,
    "2": $base-margin * 2,
    "3": $base-margin * 4,
    "4": $base-margin * 6,
    "5": $base-margin * 8,
    "auto": auto
  ),
),
"margin-top": (
  "prefix": "mt",
  "values": (
    "0": 0,
    "1": $base-margin,
    "2": $base-margin * 2,
    "3": $base-margin * 4,
    "4": $base-margin * 6,
    "5": $base-margin * 8,
    "auto": auto
  ),
),
"margin-bottom": (
  "prefix": "mb",
  "values": (
    "0": 0,
    "1": $base-margin,
    "2": $base-margin * 2,
    "3": $base-margin * 4,
    "4": $base-margin * 6,
    "5": $base-margin * 8,
    "auto": auto
  ),
),

"opacity": (
  "prefix": "o",
  "values": (
    "10": 0.1,
    "20": 0.2,
    "30": 0.3,
    "40": 0.4,
    "50": 0.5,
    "60": 0.6,
    "70": 0.7,
    "80": 0.8,
    "90": 0.9,
    "100": 1,
  ),
),
"display": (
  "prefix": "d",
  "values": (
    "none": none,
    "block": block,
    "flex": flex,
    "grid": grid,
    "table": table,
    "inline": inline,
    "inline-block": inline-block,
    "inline-flex": inline-flex,
  )
),
"font-size": (
  "prefix": "font",
  "values": (
    "xxs": $font-size-xxs,
    "xs": $font-size-xs,
    "sm": $font-size-sm,
    "md": $base-font-size,
    "lg": $font-size-lg,
    "xl": $font-size-xl,
    "xxl": $font-size-xxl
  )
),
"border-radius": (
  "prefix": "smooth",
  "values": (
    "default": $base-border-radius * .5,
    "0": 0, 
    "1": $base-border-radius * .25, 
    "2": $base-border-radius * .5, 
    "3": $base-border-radius * .65, 
    "4": $base-border-radius * .75, 
    "5": $base-border-radius * .85, 
    "circle": 50%, 
    "capsol": $base-border-radius * 100, 
  )
),
"border": (
  "prefix": "border",
  "values": (
    "default": $base-border-thickness solid $gray-400,
    "0": 0, 
    "1": $base-border-thickness*1 solid $gray-400, 
    "2": $base-border-thickness*2 solid $gray-400,
    "3": $base-border-thickness*3 solid $gray-400, 
    "4": $base-border-thickness*4 solid $gray-400, 
    "5": $base-border-thickness*5 solid $gray-400, 
  )
),
"flex-direction": (
  "prefix": "flex-dir",
  "values": (
    "row": row,
    "row-reverse": row-reverse,
    "column": column,
    "column-reverse": column-reverse,
  )
),
"justify-content": (
  "prefix": "justify",
  "values": (
    "center": center,
    "end": flex-end,
    "start": flex-start,
    "between": space-between,
    "evenly": space-evenly,
    "around": space-around,
  )
),
"align-items": (
  "prefix": "align",
  "values": (
    "center": center,
    "end": flex-end,
    "start": flex-start,
    "baseline": baseline,
    "stretch": stretch,
  )
),
"align-self": (
  "prefix": "align-self",
  "values": (
    "center": center,
    "end": flex-end,
    "start": flex-start,
    "baseline": baseline,
    "stretch": stretch,
  )
),
"float": (
  "prefix": "float",
  "values": (
    left:left,
    right:right,
    none:none,
  )
),
"user-select": (
  "prefix": "selection",
  "values": (
    auto:auto,
    all:all,
    none:none
  )
),
"overflow": (
  "prefix": "overflow",
  "values": (
    auto:auto,
    scroll:scroll,
    visible:visible,
    hidden:hidden
  )
),
"position": (
  "prefix": "pos",
  "values": (
    relative:relative,
    absolute:absolute,
    static:static,
    sticky:sticky,
    fixed:fixed
  )
),
"top":(
  "prefix": "top",
  "values": $position-values
),
"bottom":(
  "prefix": "bottom",
  "values": $position-values
),
"left":(
  "prefix": "left",
  "values": $position-values
),
"right":(
  "prefix": "right",
  "values": $position-values
),
"box-shadow": (
  "prefix": "raise",
  "values": $shadows
),
);


// generate utility classes
@each $prop, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values" );

  @each $key, $val in $values{

    @if ($key == "default"){
      .#{$prefix}{
        #{$prop} : $val;
      }
    } @else{
      .#{$prefix}-#{$key}{
        #{$prop} : $val;
      }
    }
  }
}


// TODO: implement border-top..etc, and border-radius-bottom ..etc
$utilities-different-sides: (

)

// generate utility classes for different sides
